@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
@layer base {
  html, body {
    @apply m-0 p-0 w-full overflow-x-hidden;
  }
}
html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
